body{
  background-image: url("img/cielor.jpg");
  background-attachment: fixed;
}
.navi{
  margin-bottom: 10px;
}
.acceuil{
  margin:10px;
}
.view{
  height: 800px;
}
footer {
  margin:10px;
  margin-left:0px;
  width: 100%;
  margin-bottom: 0px;
}