nav{
    background-color: rgb(212, 155, 47) !important;
    font-family:serif;
}
body{
    background-image: url("img/sky.jpg");
    background-attachment: fixed;
    background-repeat: space;
    font-family: Merienda-Regular !important;
    
}
.card-header{
  background-color: rgb(212, 155, 47);
}
.link{
  color: rgb(212, 155, 47);
}
.link:hover{
  color:#fb8c00;
}
.sign_up, .sign_in{
  border:2px solid #fb8c00;
}
.text{
    font-size: 1.5em;
    color: rgb(237, 237, 241);
    text-align: center;
}
.thm{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    color: rgb(217, 235, 217);
    font-style: italic;
}
#hid{
    justify-content: space-evenly;
}
#log{
    width: 70px;
    height: 70px;
}
#men{
    font-style: bold;
    font-size: 1.6em;

}

html,body,header,.view {
      height: 100%;
    }

    @media (max-width: 559px) {

      html,
      body,
      header,
      .view {
        height: 1000px;
      }
    }

    @media (min-width: 560px) and (max-width: 740px) {

      html,
      body,
      header,
      .view {
        height: 700px;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {

      html,
      body,
      header,
      .view {
        height: 600px;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      .navbar:not(.top-nav-collapse) {
        background: #1C2331 !important;
      }
    }
#mafoot{
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: rgb(212, 155, 47) !important;
       z-index:9999999;}
#nvbr{
  position:relative;
  top: 0;
}
