.navi {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  position: fixed;
  color: gray;
}
.logo {
  width: 45px;
  height: 45px;
  border-radius: 20px 20px 20px 20px;
  border-color: aliceblue;
}
.navi a {
  font-size: large;
  font-variant: small-caps;
  font-style: oblique;
  font-kerning: normal;
  color: white;
  font-weight: 400;
}

.intern {
  background-image: url("img/quote.jpg");
  background-size: cover;
  background-position: 5%;
  background-attachment: fixed;
  margin-bottom: 300px;
  margin-left: 0px;
  margin-right: 0px;
  height: 800px;
  color: white;
}
.acceuil {
  padding-top: 300px;
  font-family: sans-serif;
  font-style: oblique;
  font-weight: 500;
}
.hr {
  width: 300px;
  color: white;
  border: 0.2px solid white;
  padding-right:100px ;
}
.foot {
  margin-top: 400px;
  padding-top: 500px;
  padding: 0px;
  bottom: 0px;
  width: 100%;
  margin: 0px;
}
